.App {
  text-align: center;
  scroll-behavior: smooth;
  background-color: #f7f3ed;
}

.App > div {
  width: 100vw;
  min-height: 100%;
  margin-top: 100px;
}

.App .section-1 {
  margin-top: 30px;
}
