.projects-container {
  height: 100vh;
  width: 100vw;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
}

/* ////////////////////////////////Phone SIZE ////////////////////////////////////*/

@media screen and (max-width: 700px) {
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    gap: 0;
  }
}

@media screen and (max-width: 400px) {
  .projects-container {
    grid-auto-rows: auto;
    gap: 0;
    overflow: auto;
  }
}
